.flight-search-bar {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flight-search-bar h2 {
  color: #003366;
}

.trip-type label {
  margin-right: 15px;
  font-size: 14px;
  color: #003366;
}

.input {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #003366;
}

.flight-search-bar input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
  width: 150px;
}

flight-search-bar select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
  width: 150px;
}

.search-button {
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #0059b3;
}

.flights {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}